{% extends 'base.html' %}

{% block content %}
<div class = "BigOlTextElectricBoogaloo">
<h1>How can I get in touch?</h1>
<p>Email: 20choraj@tamatea.school.nz</p>
  <p>Phone Number: 06 844 6600 </p>
  <p>Address: 61 Freyberg Ave, Tamatea Napier 4112</p>
  <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12311.359150771072!2d176.8711731!3d-39.5181055!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d69b3162f3a7461%3A0x4d16746f817ea4cf!2sTamatea%20High%20School!5e0!3m2!1sen!2snz!4v1721861176837!5m2!1sen!2snz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
  <a class = "TheLinkOrWhatever" href = "https://www.tamatea.school.nz/">Tamatea High School Website</a>
  </div>
{% endblock %}
