{% extends 'base.html' %}

{% block content %}
<div class = "BigOltext">
<h1>Image Gallery</h1>
<p>Check out these awesome posters!!!</p>
<div class = "gallery">
    <div class = "gallery-item">
        <img src = "{{ url_for('static', filename ='images/MattsPoster.png') }}" alt = "The Poster" height = "250" width = "250">
        <div class = "TheName">Reincarnated in your Arms </div>
        <div class = "author">By Matt</div> 
    </div>
    <div class = "gallery-item">
        <img src = "{{ url_for('static', filename ='images/image2.jpg') }}" alt="The Poster">
        <div class = "author">By Fraze</div>
    </div>
    <div class = "gallery-item">
        <img src = "{{ url_for('static', filename ='images/image3.jpg') }}" alt="The Poster">
        <div class = "author">By Joe Mama</div>
    </div>
</div>
    </div>
{% endblock %}
